apiVersion: v1
kind: Pod
metadata:
  labels:
    component: kube-controller-manager
    tier: control-plane
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  priorityClassName: system-cluster-critical
  containers:
  - name: kube-controller-manager
    image: {{BASE_IMAGE_URL}}/{{k8s_controller_image}}
    command:
      - kube-controller-manager
      - --address=127.0.0.1
      - --master=127.0.0.1:{{ insecure_port }}
      - --allocate-node-cidrs=true
      - --service-cluster-ip-range={{ SERVICE_CIDR }}
      - --cluster-cidr={{ CLUSTER_CIDR }}
      - --cluster-name=kubernetes
      - --cluster-signing-cert-file={{ ca_dir }}/ca.pem
      - --cluster-signing-key-file={{ ca_dir }}/ca-key.pem
      - --service-account-private-key-file={{ ca_dir }}/ca-key.pem
      - --use-service-account-credentials=true
      - --root-ca-file={{ ca_dir }}/ca.pem
      - --leader-elect=true
      - --node-monitor-grace-period=40s
      - --node-monitor-period=5s
      - --pod-eviction-timeout=2m0s
      - --v=2
      - --alsologtostderr
      - --logtostderr=false
      - --log-dir=/data/log/kube-controller-manager
      - --feature-gates=RotateKubeletServerCertificate=true
      - --experimental-cluster-signing-duration=876000h0m0s
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10252
        scheme: HTTP
      initialDelaySeconds: 15
      timeoutSeconds: 15
    resources:
      requests:
        cpu: {{ controller_manager_cpu_requests }}
        memory: "{{ controller_manager_mem_requests }}"
      limits:
        cpu: {{ controller_manager_cpu_limit }}
        memory: "{{ controller_manager_mem_limit }}"
    volumeMounts:
    - mountPath: {{ ca_dir }}
      name: k8s-certs
      readOnly: true
    - mountPath: /data/log/kube-controller-manager
      name: k8s-log
  volumes:
  - hostPath:
      path: {{ ca_dir }}
      type: DirectoryOrCreate
    name: k8s-certs
  - hostPath:
      path: /data/log/kube-controller-manager
      type: DirectoryOrCreate
    name: k8s-log